<!DOCTYPE html>
<html lang="en" lang="" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News api</title>

</head>

<body>
    <div ng-controller="myCtr">
        <table>
            <!-- || is or, && is and, !== not equal, == equals -->
            <tr ng-repeat="friend in news"
                ng-if="
		friend.source.name !== 'Hitb.org' &&
                friend.source.name !== 'Inside.com.tw' &&
                friend.source.name !== 'Dailyfx.com' &&
                friend.source.name !== 'Sys-con.com'
                friend.source.name !=='Prnewswire.com'
                "
                >
                <td>
                    <img ng-src="{{friend.urlToImage}}" width="100" height="100" alt="">
                </td>
                <td>
                    <a ng-href="{{friend.url}}">Read More</a>
                    <p>{{friend.content}}</p>
                </td>
            </tr>
        </table>
    </div>


    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
